
  main {
    margin-bottom: 200%;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  .floating-menu {
    font-family: sans-serif;
    background: rgb(31, 30, 30);
    opacity: 0.6;
    padding: 5px;
    width: 250px;
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 25px;
  }
  .floating-menu select{
      background-color: black;
      color: white;
      width: 100px;
  } 
  .floating-menu option{
    background-color: black;
    color: white;
    padding-left: 20px;
  }
  .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
    padding: 10px;
  }
  .floating-menu h2 {
    font-size: 1.2em;
    display: block;
    margin: 0 0.5em;
    color: white;
  }